version: "3.0"
services:
  redis:
    image: redis
    command: --logfile /data/redis.log
    volumes:
      - redis-data:/data
    ports: 
      - 6379:6379
  mongo:
    image: mongo
    command: --logpath /var/log/mongodb/log
    ports:
      - 27017:27017
volumes:
  redis-data: {}
