section {
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  height: 100%;

  section {
    top: 0;
  }

  &.stack {
    pointer-events: initial !important;
  }

  &.stack,
  &.no-shell {
    > .__shell {
      display: none;
    }
  }

  &:not(.stack) {
    padding: 2rem;
    font-size: 1.5rem;

    h1,
    h2,
    h3 {
      font-weight: 500;
    }

    h4 {
      margin-block: 1rem;
    }

    h1 {
      position: relative;
      color: var(--adesso-blue);
      font-size: 4rem;
      margin-block: 0.5rem 2rem;
    }

    code {
      border-radius: 3px;
      line-height: 1.2;
      font-size: 1.3rem;
      background: #efefef;

      .dim {
        opacity: 0.4;
      }
    }

    pre > code {
      background: #272822;

      &.hljs {
        padding: 0.5rem;
      }
    }
  }
}
